#page-local-deptrpts-index .custom-select{
	width: 100% !important;
      
    }

#page-local-deptrpts-index .icon-collapse{
	float: right;
}

#page-local-deptrpts-index .collapsed{
	box-shadow: none !important;
}
#page-local-deptrpts-index a:focus{
	box-shadow: none !important;
}
#page-local-deptrpts-index #accordion a{
	color: white !important;
}  


#page-local-deptrpts-index .select2-selection__arrow{
	width: 50% !important;

}

#page-local-deptrpts-index .select2-container{
	width: 100% !important;
}

.topcard{
	font-size: 25px;
}

#page-local-deptrpts-index .pagination button{
	padding: 6px;
	color: blue;
	cursor: pointer !important;
	margin: 5px !important;
}