
{{#charts}}
<div class ="col-md-6 p-3">
	<div class ="card">
		<canvas id ="piechart{{counter}}" class="pb-3">
		</canvas>
		<div class="p-3 subcat-id">
		<a href="{{catid}}" class="text-primary">
		{{#str}}viewpage,local_deptrpts{{/str}}
		</a>
		</div>
	</div>
</div><!--col-6-->

<script>var ctx{{counter}} = document.getElementById("piechart{{counter}}").getContext("2d");
	var catname = "{{categoryname}}";
		var piechart{{counter}} = new Chart(ctx{{counter}}, {
			type: "doughnut",
			options: {
				title: {
					display: true,
					text: catname.replace(/&amp;/g, '&')
				}
				},
				data: {
					labels: ["Completed", "In-progress", "Not started"],
					datasets: [{
						backgroundColor: [
						"#2ecc71",
						"#348cd4",
						"#8892d6",
						],
						data: [{{{chartdata}}}]
						}]
					}
					});</script>
					{{/charts}}